[Desktop Entry]
Name=BuckwheatCsv
Type=Application
Comment=Viewer for CSV files
Categories=Utility
Exec=BuckwheatCsv %F
Icon=table_2x
MimeType=text/csv
X-AppImage-Name=BuckwheatCsv
