<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FindColumnDialog">
		<title>Find Column</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="BoxSizerMain" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxSearchCtrl" name="ID_SEARCHCTRL1" variable="SearchCtrl" member="yes">
					<cancel_button>1</cancel_button>
					<size>400,29</size>
					<style>wxTE_PROCESS_ENTER</style>
					<handler function="OnSearchCtrlSearchClicked" entry="EVT_TEXT_ENTER" />
					<handler function="OnSearchCtrlSearchClicked" entry="EVT_SEARCHCTRL_SEARCH_BTN" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW1" subclass="wxColumnsListView" variable="ListView" member="yes">
					<size>400,400</size>
					<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_VIRTUAL</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
