<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SeparatorDialog">
		<title>Separator, Quote, Escape</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizerMain" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerSeparator" member="no">
					<label>Separator character</label>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="RadioButtonComma" member="yes">
							<label>Comma</label>
							<style>wxRB_GROUP</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="RadioButtonTab" member="yes">
							<label>Tab</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="RadioButtonSemicolon" member="yes">
							<label>Semicolon</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON4" variable="RadioButtonVerticalBar" member="yes">
							<label>Vertical bar</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON5" variable="RadioButtonSpace" member="yes">
							<label>Space</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_RADIOBUTTON6" variable="RadioButtonOther" member="yes">
							<label>Other</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlOtherSeparator" member="yes">
							<maxlength>1</maxlength>
							<validator>wxTextValidator(wxFILTER__EMPTY)</validator>
							<enabled>0</enabled>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="mBoxSizerQuoteEscape" member="no">
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="mStaticBoxSizerQuote" member="no">
							<label>Quote character</label>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON7" variable="RadioButtonDouble" member="yes">
									<label>Double</label>
									<style>wxRB_GROUP</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON8" variable="RadioButtonSingle" member="yes">
									<label>Single</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizerEscape" member="no">
							<label>Escape character</label>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON10" variable="RadioButtonNoEscape" member="yes">
									<label>No Escape character</label>
									<style>wxRB_GROUP</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON11" variable="RadioButtonBackslash" member="yes">
									<label>Backslash</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON9" variable="RadioButtonOtherEscape" member="yes">
									<label>Other</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlOtherEscape" member="yes">
									<maxlength>1</maxlength>
									<validator>wxTextValidator(wxFILTER__EMPTY)</validator>
									<enabled>0</enabled>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
